[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-vite = "*"
django-filter = "*"
django-extensions = "*"
django-model-utils = "*"
django-debug-toolbar = "*"
django-crispy-forms = "*"
gunicorn = "*"
django-glrm = "*"
django-admin-sortable2 = "*"
django-import-export = "*"
django-log-request-id = "*"
rules = "*"
django-on-heroku = "*"
sentry-sdk = "*"
django-guardian = "*"
djangorestframework = "*"
django-cursor-pagination = "*"
django-flags = "*"
django-ipware = "*"
django-phonenumber-field = "*"
django-boost = "*"
django-sendgrid-v5 = "*"
django-mail-auth = "*"
crispy-tailwind = "*"
uwsgi = "*"
boto3 = "*"
s3-parse-url = "*"
chardet = "*"
django-admin-inline-paginator = "*"
tqdm = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
isort = "*"
flake8-isort = "*"
pre-commit = "*"
mypy = "*"
bandit = "*"
django-types = "*"

[requires]
python_version = "3.11"
